body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
  
}

h1, h2 {
  color: blue;
}


img {
  width: 100%;
  max-width: 400px;
  margin: 15px 0;
  border-radius: 6px;
}

.center-image {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}